Python Variables

In [2]:
x = 5
y = "Karthik" #variables
print(x)
print(y)

5
Karthik

Data Types

In [3]:
x = 5
print(type(x))

<class 'int'>

In [4]:
x = "Hello World"
print(type(x))

y = 20.5
print(type(y))

z = complex(1j)
print(type(z))

<class 'str'>
<class 'float'>
<class 'complex'>

Input Output

In [5]:
print("Hello World") #printing Hello World

Hello World

In [8]:
name = "Karthik"
age = 19
print("Name: ", name, "Age: ", age)  #printing single and multiple variable

Name:  Karthik Age:  19

In [9]:
amt = 150.15
print("Amount: ${:.2f}".format(amt)) #output using format()

Amount: $150.15

In [10]:
print("Karthikesh", end= '@')  #output using end='' & sep= ''
print("0126")

print('19', '06', '2024', sep= '/')

Karthikesh@0126
19/06/2024

In [11]:
name = 'Karthikesh'
age= 19
print(f"Hello, my name is {name} and I'm {age} years old") #using f-string

Hello, my name is Karthikesh and I'm 19 years old

In [12]:
num = int(input("Enter a value: "))  # input & output using '%' operator
add = num + 5
print("The sum is %d" %add)

The sum is 10

In [16]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)  #taking multiple inputs

Number of boys:  2
Number of girls:  5

In [18]:
name = input("Enter your name: ")
print("Hello", name,"!")

Hello Karthikesh !

Operators

In [20]:
print(1+1) #Addition
print(2-2) #Subtraction
print(5*6) #Multiplication
print(4/2) #Division
print(5%2) #Modulus
print(3**3) #Exponentiation
print(15//2) #Floor division (returns the nearest whole number)

2
0
30
2.0
1
27
7

Assignment operators

In [27]:
a = 4
print(a)

a+=3 
print(a)

a-=4
print(a)

a *= 4
print(a)

a /= 2
print(a)

a %= 2
print(a)

4
7
3
12
6.0
0.0

Logical Operators

In [29]:
x =5
y =3

print(x==y) #returns false because 5 is not equal to 3

print(x!=y) #returns true because 5 is not equal to 3

print(x > y) # returns True because 5 is greater than 3

print(x < y) # returns False because 5 is not less than 3

print(x >= y) # returns true because 5 is greater than 3

print(x <= y) # returns False because 5 is neither less than or equal to 3

False
True
True
False
True
False

In [32]:
name = input("enter your name: ")
print("Hello, Iam", name,"!")

len(name)

Hello, Iam Karthikesh !

10

TypeCasting

In [37]:
#integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

#float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

#string
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

1
2
3
1.0
2.8
3.0
4.2
s1
2
3.0

Strings

In [39]:
print("Hello everyone!") #basic string
print("His name is 'Abhinav.'") #using quotes inside a string

a = "Hello" #assigning string to a variable
print(a)

print(a[0])#returns "H"

print("length of a string is", len(a)) #returns length of a string

Hello everyone!
His name is 'Abhinav.'
Hello
H
length of a string is 5